page-home {

	$textCenter: center;

	.players{
		text-align: $textCenter;
	}
	.playerSign{
		text-align: $textCenter;
		height: 30px;
	}
	.slider{
		height: 75px;
	}
	.slider-text{
		top: -5%;
	}

	.startGame{
		background:#38678f;
	}
	.swiper-pagination{
		height: 18%;
	}
}
