page-home {

	ion-col{
		// border: 2px solid black;
	}
	.players{
		text-align: center;
	}
	.playerSign{
		text-align: center;
		height: 30px;
	}
	.slider{
		height: 75px;
	}
	.slider-text{
		top: -5%;
	}

	.startGame{
		background:#38678f;
	}
	.swiper-pagination{
		height: 18%;
	}
}
