page-game {

	.board ion-col{
		height: 100px;
		border: 1px solid black;
		text-align: center;
		font-size: 75px;;
	}

	.names{
		text-align: center;
	}

	.vs{
		font-size: 15px;
		font-weight: bold;
	}

}
