page-game {

	.board ion-col{
		height: 100px;
		text-align: center;
		font-size: 75px;;
	    border: 1px solid #38678f;
	    color: #38678F;
	}

	.icons{
		text-align: center;
	}

	.vs{
		font-size: 15px;
		font-weight: bold;
	}

	.playerSign{
		display:inline;
		margin-right: 10%;
	}
	.winnerNames ion-col{
		text-align: center;
		margin-top: -8%;

	}

	.playerScore{
		margin-top: -10%;
		text-align: center;
	}

	.clearBoard{
		background: #38678F;
	}
}
