page-game {

	.board ion-col{
		height: 100px;
		text-align: center;
		font-size: 75px;;
	    border: 1px solid #38678f;
	    color: #38678F;
	}

	.names{
		text-align: center;
	}

	.vs{
		font-size: 15px;
		font-weight: bold;
	}

}
